<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>search</title>
</head>
<body>
<h2>语音识功能</h2>
<button id="btn">点击开始录音</button>

<script type="text/javascript" src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
<script type="text/javascript" src="http://res2.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<script type="text/javascript">
    //1，绑定js接口安全域名。在测试号管理页面
    //2，在需要调用js接口的页面引入js文件
    //3，通过以下config接口注入权限配置

    $(function () {
      wx.config({
        debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId:'<%= appID %>', // 必填，公众号的唯一标识
        timestamp:'<%= timestamp %>', // 必填，生成签名的时间戳
        nonceStr:'<%= noncestr %>', // 必填，生成签名的随机串
        signature:'<%= signature %>',// 必填，签名
        jsApiList: [
          'updateAppMessageShareData',
          'updateTimelineShareData',
          'startRecord',
          'stopRecord',
          'translateVoice'
        ] // 必填，需要使用的JS接口列表
      });
      wx.ready(function(){
        // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
        let flag = false;
        $('#btn').tap(function () {
          if(!flag){
            //1,点击开始录音
            wx.startRecord();
            flag = true;
          }else{
            //2，结束录音
            wx.stopRecord({
              success: function (res) {
                //localid代表录音文件，上传到微信服务器中
                const localId = res.localId;
                //3，语音识别
                wx.translateVoice({
                  localId: '', // 需要识别的音频的本地Id，由录音相关接口获得
                  isShowProgressTips: 1, // 默认为1，显示进度提示
                  success: function (res) {
                    alert(res.translateResult); // 语音识别的结果
                  }
                });
              }
            });
            flag = false;
          }
        })

      });
    });

</script>
</body>
</html>